body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

#body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #878f9e;
    color: white;
    padding: 0 1em;
    min-width: 100vw;
}

#header-padding {
    flex: 1;
}

#header-select-lang {
    padding-top: 1.5em;
    padding-right: 1.5em;
}

#select-lang {
    display: inline;
    font-size: 130%;
    padding: 0.25em 1em;
    padding-right: 1.5em;
}

main {
    flex: 1;
    padding: 0 1em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
}

main[data-app="FriendFinder"] {
    color: black;
}

main[data-app="DanceFinder"] {
    color: white;
}

#main-cta-short {
    margin-bottom: 0;
}

#main-cta-long {
    flex: 1;
    font-size: 125%;
}

#select-demo {
    font-size: 125%;
    padding: .3em .8em;
    line-height: 1.5;
    padding-right: 1.5em;
}

#main-select-survey {
    padding-bottom: 1em;
}

#main-view-survey {
    padding-bottom: 1em;
}

button {
    /* Courtesy CSS Secrets :-) */
    padding: .3em .8em;
    border: 1px solid srba(0,0,0,.1);
    background: #0060df linear-gradient(hsla(0,0%,100%,.2), transparent);
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    font-size: 125%;
    line-height: 1.5;
}

footer {
    padding: 0 1em;
    background-color: #50535c;
    color: #2b302c;
}
